.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 80px;
  font-weight: 300;
  animation: rotateLoading 2s linear infinite;
}
@keyframes rotateLoading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
