.detail {
  position: relative;
  bottom: -30px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  border-radius: 10px;
  background-color: rgba(239, 243, 247, 0.9);
  padding: 20px;
  box-shadow: 0 13px 27px -5px rgba(231, 231, 234, 0.768),
    0 8px 16px -8px rgba(231, 231, 234, 0.668),
    0 -6px 16px -6px rgba(231, 231, 234, 0.368);
}
.detail__img {
  height: 400px;
  width: 300px;
}
.detail__tmRa {
  display: flex;
  justify-content: space-around;
  width: 430px;
}

.detail__star {
  color: #ffd43b;
  margin-right: 3px;
  font-size: 18px;
}
.detail__clock {
  color: #74c0fc;
  margin-right: 3px;
  font-size: 18px;
}
.detail__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
  opacity: 0.5;
}

.detail__genres li {
  margin-right: 10px;
}
